.container-about {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 150em;
  margin: 0 auto;
}
.home-link {
  display: flex;
  justify-content: flex-end;
  margin: 35px;
}
.home-link a {
  font-size: 3rem;
  padding: 10px 0;
}

.home-link a:hover {
  color: black;
  padding-right: 5%;
  transition: padding 0.6s cubic-bezier(0.2, 0.6, 0.2, 1);
}
.content {
  font-size: 2rem;
}

h1 {
  font-size: 5rem;
  margin: 20px; 
}
p{
  margin: 10px;
  padding: 10px;
}

